/* Red - Green - Blue & Yellow - Magenta - Cyan & White */

/* SOLID COLOR */
$white: #ffffff;
$black: #000000;

/* MODIFIED COLOR by Hue (in HSB) */
$brown-1: #c3996b;

$orange-1: #aa7840;

$yellow-1: #b2824c;
$yellow-2: #b17e56;

$white-1: #d8d8d8;
$white-2: #fff7ee;

$grey-1: #4a4a4a;

$blue-1: #1e3761;
$blue-2: #c0cde1;
$blue-3: #aeb4bb;
$blue-4: #254271;
$blue-5: #4b5f81;
$blue-6: #f4e9e3;

$green-1: #12294e;
$green-2: #0f254c;

$red-1: #d71129;
$red-2: #fcf7f6;

$violet-1: #59565a;
